
.login_container {
    width: 675px;
    height: 1080px; 
    max-width: 100%;
    position: relative;
    background-color: #fff;
}

.login_container h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

.splash {
    position: absolute;
    width: 100%;
}

.splash img{
    width: 100%;
    height: 100%;
}

.login{
    width: 675px;
    height: 1080px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9em;
}

.login img {
    width: 10%;
}

.social_media{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    margin-top: 15px;
    width: 72%;
    height: 40px;
}

.btn_face{
    width: 130px;
    height: 100%;
    background-color: #1877F2;
    border-radius: 5%;
}

.btn_google{
    width: 130px;
    height: 100%;
    background-color: rgb(243, 242, 242);
    border-radius: 5%;
}

.btn_apple{
    width: 130px;
    height: 100%;
    background-color:  #000;
    border-radius: 5%;
}

.btn_apple img{
    width: 70%;
    height: 70%;
    margin-top: 5px;
    margin-left: 17px;
}

.btn_face img{
    width: 70%;
    height: 70%;
    margin-top: 5px;
    margin-left: 17px;
}


.btn_google img{
    width: 70%;
    height: 70%;
    margin-top: 5px;
    margin-left: 17px;
}

.username{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 70%;
}

.username input{
    padding: 15px 10px;
    border: none;
    background: #EDEDED;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #A1A1A1;
}

.username input:last-child{
    margin-top: 20px;
}

.checklogin span{
    font-family: 'Poppins';
    background-color: #fff;
}

.checklogin{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checklogin input{
}



